a {
    text-decoration: none;
}

button {
    border-radius: 5px;
}

.back {
    display: flex;
    justify-content: start;
}

button:hover {
    background-color: rgb(23, 188, 89);
    cursor: pointer;
}

#startHeader {
    background-color: #3498db; 
    color: white; 
    text-align: center;
    padding: 50px 10px; 
    font-family: Arial, sans-serif;

}

