body {
  margin: 0;
  min-height: 200vh; 
  background-attachment: fixed;     
  background-repeat: no-repeat;
  background-size: cover;
}

#myFirst {
  background: linear-gradient(120deg, #89f7fe, #66a6ff);

}

a {
  text-decoration: none;
}

p {
  color: white;
}

thead {
  color: white;
}

button { 
  border-radius: 5px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  background-color: rgb(191, 197, 201);
  cursor: pointer;
  color: black;
}

#topButtonLayer {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
}

#downButtonLayer {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
}

.back {
  display: flex;
  justify-content: start;
  color: black;
}

#startHeader {
  color: white;
  text-align: center;
  padding: 50px 10px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#headerIntro {
    margin-top: 150px;
    text-align: center;
    color: white;
}

#intro {
    color: white;
    text-align: center;
}